body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 8px darkgray solid;
  border-radius: 6px;
}

.interaction {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
}
